/*this is for oc pages... don't tell the other css page...*/

@font-face {
	font-family: "Andy Bold";
	src: url("https://cufustis-cool-kitchen.nekoweb.org/Andy_Bold.TTF")
		format("opentype");
}

html {
	background-color: black;
	animation: fadeInAnimation ease 1.5s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

body {
	color: white;
	font-family: "Andy Bold";
	font-weight: 100;
}

a {
	background-color: transparent;
	text-decoration: none;
}

a:link {
	color:#32FF82;
	background-color: transparent;
	text-decoration: none;
}

a:visited {
	color:#FFF014;
	background-color: transparent;
	text-decoration: none;
}

div {
	display: block;
	flex-wrap: wrap;
}

/* classes */

.ter-div-collapse {
	color:#fff;
	width:50%;
	text-shadow:-2px 0 #030000,0 2px #030000,2px 0 #030000,0 -2px #030000;
	background-color:rgba(49,59,121,1);
	border-radius: 5px;
	height:auto; 
	border:2px solid #4e5877;
	margin:10px auto;
	padding: 5px;
	text-align: center;
	outline: none;
} 

.ter-div-content {
	background-color: #365C82;
	color: #fff;
	padding: 18px;
	font-size: 16px;
	width: 75%;
	margin: auto;
	border:2px solid #6397B0;
	text-align: left;
	outline: none;
}

.gallery img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 25%;
}

/* ?!?!?!?!?!?!??!?!?! */

/*animation time!!*/

/* ?!?!?!?!?!?!??!?!?! */

@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes panorama-vert {
	from {
		background-position: 0% 0%;
	}
	to {
		background-position: 0% 100%;
	}
}

.panning-bg-vert {
	color: white;
	text-align: center;
	width: auto;
	height: auto;
	background-size: auto;
	background-repeat: repeat;
	animation: panorama-vert linear 300s infinite;
}

@keyframes panorama-horiz {
	from {
		background-position: 0% 0%;
	}
	to {
		background-position: 1000% 0%;
	}
}

.panning-bg-horiz {
	color: white;
	text-align: center;
	width: auto;
	height: auto;
	background-size: 100rem;
	background-repeat: repeat;
	animation: panorama-horiz linear 200s infinite;
}

@keyframes panorama-diag {
	from {
		background-position: 0% 0%;
	}
	to {
		background-position: 1000% 1000%;
	}
}

.panning-bg-diag {
	color: white;
	text-align: center;
	width: auto;
	height: auto;
	background-size: 100rem;
	background-repeat: repeat;
	animation: panorama-diag linear 200s infinite;
}

/* animation for images */

@keyframes img-wobble {
	0% { transform: translate(0px, 0px) rotate(1deg); }
  10% { transform: translate(0px, 0px) rotate(2deg); }
  20% { transform: translate(0px, 0px) rotate(3deg); }
  30% { transform: translate(0px, 0px) rotate(2deg); }
  40% { transform: translate(0px, 0px) rotate(1deg); }
  50% { transform: translate(0px, 0px) rotate(-1deg); }
  60% { transform: translate(0px, 0px) rotate(-2deg); }
  70% { transform: translate(0px, 0px) rotate(-3deg); }
  80% { transform: translate(0px, 0px) rotate(-2deg); }
  90% { transform: translate(0px, 0px) rotate(-1deg); }

}

img:hover {
  animation-name: img-wobble;
  animation-iteration-count: infinite; 
  animation-duration: 1.5s;
}

/* fake bg for ocs */

#fake-bg-blur {
  filter: blur(5px);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

/* terraria-style div stuff*/

#ter-div {
	color:#fff;
    max-width:80%;
    text-shadow:-2px 0 #030000,0 2px #030000,2px 0 #030000,0 -2px #030000;
    background-color:rgba(73,88,178,0.8);
    border-radius: 1px;
    border:2px solid #101021;
    margin:2px auto;
    padding: 10px;
} 


#ter-div-wrap {
	color:#fff;
    max-width:80%;
    text-shadow:-2px 0 #030000,0 2px #030000,2px 0 #030000,0 -2px #030000;
    background-color:rgba(73,88,178,0.8);
    border-radius: 1px;
    height:auto; 
    border:2px solid #101021;
    margin:2px auto;
    padding: 10px;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
} 

#ter-div-internal {
	color:#fff;
    text-shadow:-2px 0 #030000,0 2px #030000,2px 0 #030000,0 -2px #030000;
    background-color:rgba(49,59,121,1);
    border-radius: 5px;
    height:auto; 
    border:2px solid #05070c;
	padding: 10px;
} 

/* ?!?!?!?!?!?!??!?!?! */

/* other stuff */

/* ?!?!?!?!?!?!??!?!?! */

/* status cafe */
#statuscafe {
	width: auto;
	background-color: #365C82;
	height: auto; 
	border: 2px solid #6397B0;
	border-radius: 5px;
	margin: 10px auto;
	padding: 15px;
	display: inline-block;
}
#statuscafe-username {
    margin-bottom: 0.5em;
	color:#9dadc9;
}

#statuscafe-content {
    margin: 0 1em 0.5em 1em;
	color: #fff;
}