/*this is for oc pages... don't tell the other css page...*/

/* :) */

/* ?!?!?!?!?!?!??!?!?! */
/* fawnts */
/* ?!?!?!?!?!?!??!?!?! */

@font-face {
	font-family: "Andy Bold";
	src: url("https://cufustis-cool-kitchen.nekoweb.org/fonts/Andy_Bold.TTF")
		format("opentype");
}

@font-face {
	font-family: "Pixel Operator";
	src: url("https://cufustis-cool-kitchen.nekoweb.org/fonts/Pixel-Operator_Bold.ttf")
		format("opentype");
}

@font-face {
	font-family: "VCR Mono";
	src: url("https://cufustis-cool-kitchen.nekoweb.org/fonts/VCR-OSD-MONO.ttf")
		format("opentype");
}

@font-face {
	font-family: "The Unseen";
	src: url("https://cufustis-cool-kitchen.nekoweb.org/fonts/the_unseen.ttf")
		format("opentype");
}

@font-face {
	font-family: "Lunchtime DS";
	src: url("https://cufustis-cool-kitchen.nekoweb.org/fonts/lunchds.ttf")
		format("opentype");
}

@font-face {
	font-family: "Boogaloo";
	src: url("https://cufustis-cool-kitchen.nekoweb.org/fonts/Boogaloo-Regular.ttf")
		format("opentype");
}

/* ?!?!?!?!?!?!??!?!?! */
/* general stuff */
/* ?!?!?!?!?!?!??!?!?! */

html {
	background-color: black;
	animation: fadeInAnimation ease 1.5s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

body {
	color: white;
	font-family: "Pixel Operator";
	font-weight: 100;
}

a {
	background-color: transparent;
	text-decoration: none;
}

a:link {
	color:#32FF82;
	background-color: transparent;
	text-decoration: none;
}

a:visited {
	color:#FFF014;
	background-color: transparent;
	text-decoration: none;
}

/* classes */

.ter-div-collapse {
	color:#fff;
} 

.ter-div-content {
	color:#fff;
}

.gallery img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 25%;
}

.aether-text {
    color: #7c7abd;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
    animation: aether-float linear 4s infinite;
}

/* ?!?!?!?!?!?!??!?!?! */

/*animation time!!*/

/* ?!?!?!?!?!?!??!?!?! */

@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/*scrolling bgs*/
@keyframes panorama-vert {
	from {
		background-position: 0% 0%;
	}
	to {
		background-position: 0% 100%;
	}
}

.panning-bg-vert {
	color: white;
	text-align: center;
	width: auto;
	height: auto;
	background-size: auto;
	background-repeat: repeat;
	animation: panorama-vert linear 300s infinite;
}

@keyframes panorama-horiz {
	from {
		background-position: 0% 0%;
	}
	to {
		background-position: 1000% 0%;
	}
}

.panning-bg-horiz {
	color: white;
	text-align: center;
	width: auto;
	height: auto;
	background-size: 100rem;
	background-repeat: repeat;
	animation: panorama-horiz linear 200s infinite;
}

@keyframes panorama-diag {
	from {
		background-position: 0% 0%;
	}
	to {
		background-position: 1000% 1000%;
	}
}

.panning-bg-diag {
	color: white;
	text-align: center;
	width: auto;
	height: auto;
	background-size: 100rem;
	background-repeat: repeat;
	animation: panorama-diag linear 200s infinite;
}

/* fake bg for ocs */
#fake-bg-blur {
  filter: blur(5px);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

/* animation for text */
@keyframes aether-float {
    0% { transform: translate(0px, 0px) }
    50% { transform: translate(0px, 5px) }

}

/* animation for images */

@keyframes img-wobble {
	0% { transform: rotate(-3deg); }
	25% { transform: rotate(0deg); }
	50% { transform: rotate(3deg); }
	75% { transform: rotate(0deg); }
  	100% { transform: rotate(-3deg); }

}

img:hover {
  animation: img-wobble;
  /* animation-timing-function: ease-in-out; */
  animation-iteration-count: infinite; 
  animation-direction: alternate;
  animation-duration: 1.5s;
}

img:active {
  filter: brightness(1.25);
}

@keyframes portal-idle {
    0% { transform: translate(0px, 0px) rotate(0deg); }
	25% { transform: translate(0px, 5px) rotate(-3deg); }
    50% { transform: translate(0px, 0px) rotate(0deg); }
	75% { transform: translate(0px, 5px) rotate(3deg); }
	100% { transform: translate(0px, 0px) rotate(0deg); }

}

#portal {
  animation: portal-idle 5s ease-in-out infinite;
}

img:hover {
  animation: img-wobble 1.5s infinite;
}

@keyframes img-floaty {
	0% { transform: translate(0px, 0px); }
  50% { transform: translate(0px, 5px); }
  100% { transform: translate(0px, 0px); }

} 

.image-floaty{
	animation: img-floaty ease-in-out 5s infinite;
}

/* div stuff*/

#aesthetic-div {
	margin:15px auto;
	height:auto;
    width:55%;
}

/* ?!?!?!?!?!?!??!?!?! */

/* other stuff */

/* ?!?!?!?!?!?!??!?!?! */


/* secret christmas tree! */

#bin-goof{
	font-family: Lunchtime DS;
	color:#D06F00;
 	animation-name: bin-idle;
  	animation-iteration-count: infinite; 
  	animation-duration: 2.75s;
}

#bin-goof:hover{
	color:#D06F00;
	animation-name: bin-hov;
  	animation-iteration-count: infinite; 
  	animation-duration: 3s;
}

#cuf-goof{
	font-family: Boogaloo;
	color:#817eaa;
	animation-name: cuf-idle;
  	animation-iteration-count: infinite;
  	animation-duration: 1s;
}

#cuf-goof:hover{
	color:#817eaa;
	animation-name: cuf-hov;
  	animation-iteration-count: infinite; 
  	animation-duration: 2.5s;
}

#garbage-noise {
	text-decoration: underline dotted;
}

#garbage-noise:hover {
	filter: drop-shadow(0px 0px 5px white);
	background-color: transparent;
	cursor: url('https://cufustis-cool-kitchen.nekoweb.org/some%20images%20just%20in%20case/cursors/ter-cursor-qmark.png'), auto;
}

/* secret christmas anims! */

@keyframes cuf-idle {
	0% { transform: translate(0px, 1px); filter: brightness(1.05); }
  	50% { transform: translate(0px, 0px); filter: brightness(1); }
  	100% { transform: translate(0px, 1px); filter: brightness(1.05); }

} 

@keyframes bin-idle {
	0% { transform: translate(0px, 2px) skew(-1.5deg) ; filter: brightness(1.10); }
  	50% { transform: translate(0px, 0px) skew(0deg); filter: brightness(1); }
  	100% { transform: translate(0px, 2px) skew(-1.5deg); filter: brightness(1.10); }

} 

@keyframes cuf-hov {
	0% { transform: translate(0px, 2px); filter: brightness(1.15); }
  	50% { transform: translate(0px, 0px) ; filter: brightness(1.05); }
  	100% { transform: translate(0px, 2px); filter: brightness(1.15); }

} 

@keyframes bin-hov {
	0% { transform: translate(0px, 2px) skew(-1deg) ; filter: brightness(1.25); }
	50% { transform: translate(0px, 0px) skew(0deg) ; filter: brightness(1); }
  	100% { transform: translate(0px, 2px) skew(-1deg); filter: brightness(1.25); }


}